---
http_interactions:
- request:
    method: get
    uri: https://api.youneedabudget.com/v1/budgets/da64e638-63f0-41fc-97a2-cc7f38c8b034/accounts/eccab6f8-2d96-47b2-a19c-4c996a46ae65
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 1/200
      Etag:
      - W/"f776d2b09a0ad3108ecceb8169b11596"
    body:
      encoding: UTF-8
      string: '{"data":{"account":{"id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","name":"Uploading
        Account","type":"checking","on_budget":true,"closed":false,"note":null,"balance":0,"cleared_balance":0,"uncleared_balance":0,"transfer_payee_id":"83e8b470-8c4b-42b3-a2a6-134a42a6e71e","deleted":false}}}'
  recorded_at: Sun, 30 Sep 2018 16:08:45 GMT
recorded_with: VCR 4.0.0
