---
http_interactions:
- request:
    method: get
    uri: https://api.youneedabudget.com/v1/budgets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 1/200
      Etag:
      - W/"27b0a6d8df2f314aa1accb418e615fac"
    body:
      encoding: UTF-8
      string: '{"data":{"budgets":[{"id":"da64e638-63f0-41fc-97a2-cc7f38c8b034","name":"Ynaby
        budget","last_modified_on":"2018-09-30T11:43:40+00:00","first_month":"2018-09-01","last_month":"2018-09-01","date_format":{"format":"DD/MM/YYYY"},"currency_format":{"iso_code":"EUR","example_format":"123 456,78","decimal_digits":2,"decimal_separator":",","symbol_first":false,"group_separator":" ","currency_symbol":"€","display_symbol":true}}]}}'
  recorded_at: Sun, 30 Sep 2018 13:03:46 GMT
recorded_with: VCR 4.0.0
