---
http_interactions:
- request:
    method: post
    uri: https://api.youneedabudget.com/v1/budgets/da64e638-63f0-41fc-97a2-cc7f38c8b034/transactions/bulk
    body:
      encoding: UTF-8
      string: '{"transactions":[{"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","date":"2018-09-15","amount":-10000,"payee_name":"Jerry
        Seinfeld","import_id":"ynaby:-10000:2018-09-15:1","payee_id":null,"memo":null},{"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","date":"2018-09-15","amount":50000,"payee_name":"George
        Constanza","import_id":"ynaby:50000:2018-09-15:1","payee_id":null,"memo":null}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 23/200
      Etag:
      - W/"ea4328e9db6a354ded54d4f0cc7dfdb9"
    body:
      encoding: UTF-8
      string: '{"data":{"bulk":{"transaction_ids":[],"duplicate_import_ids":["ynaby:-10000:2018-09-15:1","ynaby:50000:2018-09-15:1"]}}}'
  recorded_at: Sun, 30 Sep 2018 17:24:48 GMT
- request:
    method: get
    uri: https://api.youneedabudget.com/v1/budgets/da64e638-63f0-41fc-97a2-cc7f38c8b034/transactions?since_date=2018-09-15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 24/200
      Etag:
      - W/"bb36c29f46a450448525e99b26e1188b"
    body:
      encoding: UTF-8
      string: '{"data":{"transactions":[{"id":"b39cf268-17ab-4459-9a8f-88a21351b051","date":"2018-09-15","amount":-10000,"memo":null,"cleared":"uncleared","approved":false,"flag_color":null,"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","account_name":"Uploading
        Account","payee_id":"8d6a52c8-01de-4c76-9ce4-62caf2927b9a","payee_name":"Jerry
        Seinfeld","category_id":null,"category_name":null,"transfer_account_id":null,"transfer_transaction_id":null,"import_id":null,"deleted":false,"subtransactions":[]},{"id":"909b87e4-d7b3-493f-b66a-26ed40c903cd","date":"2018-09-15","amount":-10000,"memo":null,"cleared":"uncleared","approved":false,"flag_color":null,"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","account_name":"Uploading
        Account","payee_id":"8d6a52c8-01de-4c76-9ce4-62caf2927b9a","payee_name":"Jerry
        Seinfeld","category_id":null,"category_name":null,"transfer_account_id":null,"transfer_transaction_id":null,"import_id":"ynaby:-10000:2018-09-15:1","deleted":false,"subtrans[...]
- request:
    method: put
    uri: https://api.youneedabudget.com/v1/budgets/da64e638-63f0-41fc-97a2-cc7f38c8b034/transactions/909b87e4-d7b3-493f-b66a-26ed40c903cd
    body:
      encoding: UTF-8
      string: '{"transaction":{"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","date":"2018-09-15","amount":-10000,"payee_name":"Jerry
        Seinfeld","import_id":"ynaby:-10000:2018-09-15:1","payee_id":null,"memo":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 25/200
      Etag:
      - W/"dadbd9d6e32cd90056ca2eb08e76e2c1"
    body:
      encoding: UTF-8
      string: '{"data":{"transaction_ids":["909b87e4-d7b3-493f-b66a-26ed40c903cd"],"transaction":{"id":"909b87e4-d7b3-493f-b66a-26ed40c903cd","date":"2018-09-15","amount":-10000,"memo":null,"cleared":"uncleared","approved":false,"flag_color":null,"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","account_name":"Uploading
        Account","payee_id":"8d6a52c8-01de-4c76-9ce4-62caf2927b9a","payee_name":"Jerry
        Seinfeld","category_id":null,"category_name":null,"transfer_account_id":null,"transfer_transaction_id":null,"import_id":"ynaby:-10000:2018-09-15:1","deleted":false,"subtransactions":[]}}}'
  recorded_at: Sun, 30 Sep 2018 17:24:48 GMT
- request:
    method: put
    uri: https://api.youneedabudget.com/v1/budgets/da64e638-63f0-41fc-97a2-cc7f38c8b034/transactions/bd2d627e-1bae-4fd8-a544-318f9342f53d
    body:
      encoding: UTF-8
      string: '{"transaction":{"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","date":"2018-09-15","amount":50000,"payee_name":"George
        Constanza","import_id":"ynaby:50000:2018-09-15:1","payee_id":null,"memo":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 26/200
      Etag:
      - W/"137d0015836734f598326c4ff0aa5d51"
    body:
      encoding: UTF-8
      string: '{"data":{"transaction_ids":["bd2d627e-1bae-4fd8-a544-318f9342f53d"],"transaction":{"id":"bd2d627e-1bae-4fd8-a544-318f9342f53d","date":"2018-09-15","amount":50000,"memo":null,"cleared":"uncleared","approved":false,"flag_color":null,"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","account_name":"Uploading
        Account","payee_id":"8a636284-80d5-4265-8006-b3791f8237b4","payee_name":"George
        Constanza","category_id":null,"category_name":null,"transfer_account_id":null,"transfer_transaction_id":null,"import_id":"ynaby:50000:2018-09-15:1","deleted":false,"subtransactions":[]}}}'
  recorded_at: Sun, 30 Sep 2018 17:24:48 GMT
recorded_with: VCR 4.0.0
