---
http_interactions:
- request:
    method: post
    uri: https://api.youneedabudget.com/v1/budgets/da64e638-63f0-41fc-97a2-cc7f38c8b034/transactions/bulk
    body:
      encoding: UTF-8
      string: '{"transactions":[{"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","date":"2018-09-15","amount":-10000,"payee_name":"Jerry
        Seinfeld","import_id":null,"payee_id":null,"memo":null},{"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","date":"2018-09-15","amount":50000,"payee_name":"George
        Constanza","import_id":null,"payee_id":null,"memo":null}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 9/200
      Etag:
      - W/"6fdbaaed6856f07d37cdaa5f0b9b7c65"
    body:
      encoding: UTF-8
      string: '{"data":{"bulk":{"transaction_ids":["b39cf268-17ab-4459-9a8f-88a21351b051","f87df539-63f0-41e8-b7e6-fbc64403f53d"],"duplicate_import_ids":[]}}}'
  recorded_at: Sun, 30 Sep 2018 16:55:57 GMT
recorded_with: VCR 4.0.0
