---
http_interactions:
- request:
    method: get
    uri: https://api.youneedabudget.com/v1/budgets/da64e638-63f0-41fc-97a2-cc7f38c8b034/accounts/c791437c-6660-4e86-b41e-50e70e6ff34d/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 2/200
      Etag:
      - W/"5351498ac970224c168e1d21cccc5b48"
    body:
      encoding: UTF-8
      string: '{"data":{"transactions":[{"id":"64c0ef15-7a2f-460b-b8c3-c1fa68819cdc","date":"2018-09-20","amount":0,"memo":null,"cleared":"cleared","approved":true,"flag_color":null,"account_id":"c791437c-6660-4e86-b41e-50e70e6ff34d","account_name":"My
        Checking Account","payee_id":"e0072c10-76ac-4c61-ac17-62f0e720b7a2","payee_name":"Starting
        Balance","category_id":"cf5ce0cc-7a67-4af2-8819-d426ab0335dc","category_name":"Immediate
        Income SubCategory","transfer_account_id":null,"transfer_transaction_id":null,"import_id":null,"deleted":false,"subtransactions":[]},{"id":"b2f3805b-1756-4472-8dc0-5185822c0dae","date":"2018-09-27","amount":-500000,"memo":"","cleared":"cleared","approved":true,"flag_color":null,"account_id":"c791437c-6660-4e86-b41e-50e70e6ff34d","account_name":"My
        Checking Account","payee_id":"e51988cf-8920-4e23-9ae9-19c25528eca8","payee_name":"Landlord","category_id":"1f13f4c9-c3fa-4d1c-8a65-43dfca05258c","category_name":"Rent/Mortgage","transfer_account_id":null,"transfer_transaction_id":null,"import_id":null,"deleted":false,"su[...]
