---
http_interactions:
- request:
    method: post
    uri: https://api.youneedabudget.com/v1/budgets/da64e638-63f0-41fc-97a2-cc7f38c8b034/transactions
    body:
      encoding: UTF-8
      string: '{"transaction":{"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","date":"2018-09-15","amount":-10000,"payee_name":"Jerry
        Seinfeld","import_id":null,"payee_id":null,"memo":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 1/200
      Etag:
      - W/"55fa793ef7ef130977e1de8de7892074"
    body:
      encoding: UTF-8
      string: '{"data":{"transaction_ids":["05fe016b-24c8-4e0d-9b5d-8ad6c421de52"],"transaction":{"id":"05fe016b-24c8-4e0d-9b5d-8ad6c421de52","date":"2018-09-15","amount":-10000,"memo":null,"cleared":"uncleared","approved":false,"flag_color":null,"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","account_name":"Uploading
        Account","payee_id":"8d6a52c8-01de-4c76-9ce4-62caf2927b9a","payee_name":"Jerry
        Seinfeld","category_id":null,"category_name":null,"transfer_account_id":null,"transfer_transaction_id":null,"import_id":null,"deleted":false,"subtransactions":[]}}}'
  recorded_at: Sun, 30 Sep 2018 18:48:23 GMT
recorded_with: VCR 4.0.0
